#doctors_list {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#doctors_list_holder {
    width: 95%;
    height: 85vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* width */
#doctors_list_holder::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
#doctors_list_holder::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:50px;
}
  
  /* Handle */
#doctors_list_holder::-webkit-scrollbar-thumb {
    background: rgb(144, 144, 144);
    border-right: 4px white solid;
    background-clip: padding-box;
}
  
  /* Handle on hover */
#doctors_list_holder::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 93, 93);
}

.doctor_holder {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2%;
    display: flex;
    height: 12vh;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.doctor_profile_picture {
    height: 8vh;
    width: 10%;
    border-radius: 100%;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#appointment_form_holder{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appointment_banner {
    padding: 3%;
    font-size:4vh;
    font-weight: bold;
}

#appointment_form {
    width: 70%;
    height: 65vh;
    background-color: white;
    box-shadow: 0 0 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23);
    border-radius: 15px;
    display: flex;
    padding: 1%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3vh;
}
#appointment_work_hours{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -25vh;
    margin-top: 5vh;
    gap: 2vh;
    font-size: 2.5vh;
}
.hours{
    font-size: 3vh;
    color: black;
}
.day{
    font-size: 2vh;
    color: #259dff;
}
#form_down{
    margin-top: 10vh;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vh;
    margin-left: -15vh;
}
#error{
    color: red;
    margin-top: -4vh;
}
#appointment_form select {
    width: 50%;
    font-size: 3vh;
    padding: 0.5%;
    background-color: white;
    color: #259dff;
    border-color:#259dff;
}


#appointment_form textarea {
    width: 50%;
    font-size: 2vh;
    min-height: 10%;
    min-width: 30%;
    max-width: 50%;
    max-height: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#appointment_form input[type=submit]{
    width: 50%;
    font-size: 2vh;
    background-color: #259dff;
    color: white;
    padding: 1.5%;
    border: none;
    border-radius: 10px;

}

input[type=date] {
    width: 50%;
    min-height: 3vh;
    font-size: 2vh;
    margin-top: -1vh;
    margin-bottom: -2vh;
}

input[type=time] {
    min-height: 3vh;
    width: 50%;
    font-size: 2vh;
}