#doctors_list {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#doctors_list_holder{
    width: 95%;
    height: 85vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor_holder {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2%;
    display: flex;
    height: 12vh;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.doctor_profile_picture {
    height: 8vh;
    width: 10%;
    border-radius: 100%;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}