#doctors_list {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#doctors_list_holder {
    width: 95%;
    height: 85vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#doctor{
    width:max-content;
}
textarea{
    resize: none;
    border: none;
    background-color:#dddddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
input{
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
input::-webkit-input-placeholder {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
/* width */

#doctors_list_holder::-webkit-scrollbar {
    width: 10px;
}


/* Track */

#doctors_list_holder::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}


/* Handle */

#doctors_list_holder::-webkit-scrollbar-thumb {
    background: rgb(144, 144, 144);
    border-right: 4px white solid;
    background-clip: padding-box;
    border-radius: 5px;
}


/* Handle on hover */

#doctors_list_holder::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 93, 93);
}

.doctor_holder {
    font-size: 2.2vh;
    display: flex;
    margin-right: 1.5%;
    margin-top: 2%;
    padding: 0.5%;
    flex: 1 1 30%;
    height: 17vh;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.doctor_info {
    margin-left: 5%;
}

.doctor_name {
    font-size: 3vh;
}

.doctor_profile_picture {
    height: 8vh;
    width: 15%;
    border-radius: 100%;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#appointment_form_holder {
    width: 100%;
    height: 90vh;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appointment_banner {
    padding: 3%;
    font-size: 4vh;
    font-weight: bold;
}

#appointment_form {
    width: 70%;
    height: 65vh;
    background-color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    padding: 1%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3vh;
}
#appointment_form select:focus{
    outline: none;
    background-color: #b9b9b9;
}

#appointment_work_hours {
    align-self: flex-start;
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    gap: 2vh;
    font-size: 2.5vh;
}

.hours {
    font-size: 3vh;
    color: black;
}

.day {
    font-size: 2vh;
    color: #259dff;
}

#form_down {
    margin-top: 10vh;
    width: 75%;
    height: 75%;
    display: flex;
    margin-right: -25vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vh;
}

.error {
    color: red;
    margin-top: -4vh;
}

#appointment_form select {
    background-color: #DDDDDD;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 50.1%;
    font-size: 3vh;
    -webkit-box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
    box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
    transition: .2s background-color ease-in-out;
    padding: 0.5%;
    color: black;
    border-color: #DDDDDD;
}
option:not(:checked) {
    background-color: #DDDDDD;
}

#appointment_form textarea {
    background-color: #DDDDDD;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 49.5%;
    transition: .2s background-color ease-in-out;
    font-size: 2vh;
    min-height: 10%;
    min-width: 30%;
    max-width: 50%;
    max-height: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#appointment_form input[type=submit] {
    width: 50%;
    font-size: 2vh;
    background-color: #259dff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 1.5%;
    border: none;
    border-radius: 10px;
    transition: .2s background-color ease-in-out;
}
#appointment_form input[type=submit]:hover {
    background-color: #0079dd;
}

input[type=date] {
    width: 49.9%;
    min-height: 3vh;
    font-size: 2vh;
    margin-top: -1vh;
    background-color: #DDDDDD;
    transition: .2s background-color ease-in-out;
    margin-bottom: -2vh;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type=time] {
    min-height: 3vh;
    width: 49.9%;
    background-color: #DDDDDD;
    transition: .2s background-color ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 2vh;
}
input[type=time]:focus {
    background-color: #b9b9b9;
    outline: none;
}
input[type=date]:focus {
    background-color: #b9b9b9;
    outline: none;
}
#appointment_form textarea:focus{
    background-color: #b9b9b9;
    outline: none;
}