.visit_card {
    width: 90%;
    margin-left: 5%;
    height: 250px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    border-radius: 10px;
}

.visit_card_reception {
    width: 72.5%;
    margin-left: 5%;
    height: 250px;
    margin-left: 15%;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.visit_card_accounts {
    width: 72.5%;
    height: 250px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 15.25%;
}

#visits_holder {
    width: 90%;
    margin-left: 5%;
    height: 90%;
    margin-top: 3%;
    float: left;
    background-color: white;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

#visits {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

#visits_holder_acc {
    width: 90%;
    margin-left: 5%;
    height: 90%;
    margin-top: 3%;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    float: left;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

#accounts {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#visits_holder_history {
    width: 100%;
    height: 90%;
    float: left;
    overflow-y: scroll;
    background-color: white;
}



/* Track */

#visits_holder_history::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}


/* Handle */

#visits_holder_history::-webkit-scrollbar-thumb {
    background: rgb(144, 144, 144);
    border-right: 4px #f1f1f1 solid;
    border-radius: 5px;
    background-clip: padding-box;
    border-radius: 5px;
}


/* Handle on hover */

#visits_holder_history::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 93, 93);
}


/* width */

#visits_holder_history::-webkit-scrollbar {
    width: 10px;
}

#visits::-webkit-scrollbar {
    width: 10px;
}


/* Track */

#accounts::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}


/* Handle */

#accounts::-webkit-scrollbar-thumb {
    background: rgb(144, 144, 144);
    border-right: 4px #f1f1f1 solid;
    background-clip: padding-box;
    border-radius: 5px;
}


/* Handle on hover */

#accounts::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 93, 93);
}


/* width */

#accounts::-webkit-scrollbar {
    width: 10px;
}


/* Track */

#visits::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}


/* Handle */

#visits::-webkit-scrollbar-thumb {
    background: rgb(144, 144, 144);
    border-right: 4px #f1f1f1 solid;
    background-clip: padding-box;
    border-radius: 5px;
}


/* Handle on hover */

#visits::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 93, 93);
}

.visit_doctor_name {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
}

.visit_date {
    width: 100%;
    height: 10vh;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}
textarea{
    resize: none;
}

.visit_left {
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #76dfed;
    border-radius: 10px 0px 0px 10px;
    color: white;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    width: 25%;
}

.visit_date_history {
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #76dfed;
    color: white;
    font-weight: bold;
    font-size: 3vh;
    border-radius: 10px 0px 0px 10px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    width: 25%;
}

.visit_right {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.right_text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    margin-left: 3vh;
    margin-top: 2vh;
}

.right_buttons {
    margin-left: auto;
    margin-right: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    justify-content: space-evenly;
}

.right_kebab {
    margin-left: auto;
    margin-right: 5vh;
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    margin-top: 1vh;
}

.visit_hour {
    width: 100%;
    height: 10vh;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.visit_type {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
}


.visit_pacient_name {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
}

.right_buttons button {
    border: white;
    height: 7vh;
    width: 7vh;
    font-size: 6vh;
    background-color: white;
    color: #76dfed;
}
.right_buttons button:hover {
    cursor: pointer;
}


.description {
    margin-bottom: -1.5vh;
    font-size: 1.5vh;
}

.undo:hover {
    color: lightcoral;
}

.clock:hover {
    color: #f8b243;
}

.visit_left_photo img {
    margin-left: 1vh;
    margin-top: 2vh;
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
}

.visit_left_photo {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

#acc_button_holder button {
    background-color: #76dfed;
    transition: .2s background-color ease-in-out;
    border-style: none;
    border-radius: 2.5vh;
    width: 16vh;
    height: 7vh;
    float: right;
    margin-top: 7vh;
    margin-right: 5.5vh;
    font-size: 1.8vh;
    color: white;
    -webkit-box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
    box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
}

#acc_button_holder button:hover {
    background-color: white;
    border-color: #76dfed;
    border-style: solid;
    color: #76dfed;
    cursor: pointer;
}

#acc_button_holder {
    margin-right: 1.5vh;
}

#select {
    background-color: white;
    border-color: #76dfed;
    width: 16vh;
    height: 5vh;
    margin-top: 2vh;
    font-size: 3vh;
    color: #76dfed;
    -webkit-box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
    box-shadow: 0px 2px 9px -4px rgba(66, 68, 90, 1);
}

#select_history {
    background-color: white;
    border-color: #76dfed;
    align-self: center;
    justify-self: left;
    height: 4.5vh;
    width: 25vh;
    margin-bottom: -2vh;
    font-size: 2vh;
    outline: none;
    border: none;
    padding-left: 5px;
    border-radius: 1vh 1vh 0 0;
    margin-left: 1.5vh;
    color: #76dfed;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.right_desc {
    margin-left:auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.right_desc span {
    margin-top: 2vh;
}

#opis {
    font-size: 2vh;
    border-style: none;
    height: 17vh;
    width: 90%;
    margin-bottom: -5vh;
    background-color: white;
    color: black;
    font-family: Roboto;
}

.search {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

.search input {
    align-self: center;
    justify-self: left;
    border-color: #76dfed;
    margin-left: 5%;
    border-radius: 1vh;
    border-width: 0.1vh;
    height: 4vh;
    width: 30vh;
    font-size: 2vh;
    padding-left: 10px;
    outline: none;
    border: none;
    margin-bottom: -2vh;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.search input::placeholder {
    color: #76dfed;
}

.visit_pacient_email {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
}

.acc_type {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
}

.description_visit {
    font-size: 2vh;
}