body {
    margin: 0;
}

header {
    width: 100%;
    height: 10vh;
    font-family: 'Roboto', sans-serif;
    background-color: #DDDDDD;
    font-size: 3vh;
    display: flex;
}

#color_div {
    background-color: #1ECFE1;
    width: 15%;
    height: 10vh;
}

#user_data {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user_data img {
    margin-left: 1%;
    width: 10%;
    height: 9vh;
    border-radius: 100%;
}

#header_content {
    display: flex;
    width: 80%;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
}

#header_content a {
    text-decoration: none;
    color: black;
}


#main_content {
    height: 90vh;
    width: 100%;
    display: flex;
}

#main_panel {
    width: 50%;
}

#left_panel {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    width: 15%;
    height: 90vh;
    background-color: #747474;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    justify-content: center;
    align-items: center;
}

.panel_section {
    color: #1FAEFF;
}

.panel_link {
    width: 100%;
    display: flex;
    align-items: center;
}

.panel_link img {
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
}

.panel_link a{
    display: flex;
    justify-content: center;
    color: white;
    width: 70%;
    text-decoration: none;
}

#visits {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.visit {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    margin-top: 4%;
    padding: 3%;
    border-radius: 8px;
    width: 90%;
    background-color: #DDDDDD;
    display: flex;
    justify-content: space-around;
}

.visit_doctor {
    margin-top: 3%;
}

.see_recommendations a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}

.see_recommendations a img {
    width: 25%;
}

#important_data {
    width: 35%;
    height: 90vh;
}

/* calendar css */

.clndr {
    width: 98%;
}

.noselect {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
  }
  .clndr .clndr-controls {
      position: relative;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 2em 0;
      text-align: center;
      background-color: #1FAEFF;
      margin: 1.5em 0;
  }
  .clndr .clndr-controls .month {
      text-align: center;
      color: #fff;
      font-size: 1.3em;
  }
  .clndr .clndr-controls .clndr-control-button .clndr-next-button { 
    position: absolute;
    right: 7%;
    top: 45%;
    width: 8px;
    height: 15px;
    text-indent: -4000px;
    background: url(../images/calender-arw.png) no-repeat -12px 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
    cursor: default;
  }
  .clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
     position: absolute;
    left: 7%;
    top: 45%;
    width: 8px;
    height: 15px;
    text-indent: -4000px;
    background: url(../images/calender-arw.png) no-repeat 1px 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
    cursor: default;
  }
  .cal1 .clndr .clndr-table {
    table-layout: fixed;
    width:100%;
    margin:0 auto;
  }
  .cal1 .clndr .clndr-table .header-days {
    font-size: 16px;
    background: none;
    margin-bottom: 1em;
  }
  .cal1 .clndr .clndr-table .header-days .header-day {
      vertical-align: middle;
      text-align: center;
      color: #333;
      font-weight: 700;
  }
  .cal1 .clndr .clndr-table tr {
    height: 46px;
  }
  .cal1 .clndr .clndr-table tr td {
    vertical-align: top;
  }
  .cal1 .clndr .clndr-table tr .day {
    width: 100%;
    height: inherit;
    color:#555;
    vertical-align:middle;
  }
  .cal1 .clndr .clndr-table tr .day.today {
    background: #A1D36E;
    color: #FFF;
  }
  .dat-c{
      color:#c5996c;
  }
  .cal1 .clndr .clndr-table tr .day.today:hover {
        color: #FFF;
  }
  .cal1 .clndr .clndr-table tr .day.today.event {
      background: #1FAEFF;
      color: #FFF;
      border-radius: 4px;
  }
  .day.today.event:hover{
      color:#FFF;
  }
  .cal1 .clndr .clndr-table tr .day .day-contents:hover {
      color: #1FAEFF;
  }
  .cal1 .clndr .clndr-table tr .day .day-contents {
    box-sizing: border-box;
    font-size: 0.875em;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
  }
  .cal1 .clndr .clndr-table tr .empty,
  .cal1 .clndr .clndr-table tr .adjacent-month {
    width: 100%;
    height: inherit;
    color:#999;
  }
  @media all and (max-width:1024px) {
      .cal1 .clndr .clndr-table tr {
          height: 46px;
      }
  }
  @media all and (max-width:640px) {
  .cal1 .clndr .clndr-table tr .day .day-contents {
      font-size: 0.8em;
  }
  }
  @media all and (max-width:320px) {
      .cal1 .clndr .clndr-table{
          width: 100%;
      }
      .cal1 .clndr .clndr-table tr {
          height: 35px;
      }
      .cal1 .clndr .clndr-table .header-days .header-day {
          font-size: 0.9em;
      }
      .cal1 .clndr .clndr-table tr .day .day-contents {
          font-size: 0.7em;
      }
  }