#container{
    background: linear-gradient(180deg, #1ECFE1,#008DFF);
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    min-width: 500px;
    min-height: 500px; 
}
#container2{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    min-height: 510px;
    width: 100%;
    height: 80%;
}
#lewa-gora{
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 2.5em;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    

}
#lewa-dol{
    
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    min-height: 2.5em;
    align-content: center;
    align-items: center;
    margin-bottom: 3em;
    justify-content: space-evenly;
    margin-left: 7.5%;

}
#formularz{
    align-self: flex-start;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 60px;
    height: 100%;
    width: 75%;
    margin-top: 4.5em;
    margin-left: 5%;
    margin-right: 2%;
    min-height: 510px;
    min-width:350px;
}
#logowanie{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.login{
    background-color:#DDDDDD ;
    font-weight: 300;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size:15px;
    line-height: 3;
    width: 20em;
    margin-bottom: 5em;
}
#zaloguj{
    background-color:#008DFF;
    font-weight: 300;
    color: white;
    border-radius: 9px;
    height: 4em;
    width: 20em;
    font-size:0.95em;

}
.login::-webkit-input-placeholder{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#pacjent{
    text-align: center;
    font-size: 2em;
    color: #008DFF;
    
}
#lorem{
    font-size: 1.5em;
    color: white;
    text-align: center;
}
#rejestracja{
    background-color:white;
    font-weight: 300;
    color: #008DFF;
    border-radius: 9px;
    height: 4em;
    width: 20em;
    font-size:0.95em;
}
#log{
    font-size: 0.5;
    color: white;
    text-align: center;
}
img{
    max-width: 450px;
    max-height: 450px;
}

@media screen and (max-width: 450px){
    #container2{
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;
        align-items: center;
        margin-bottom: 15em;
    }
    #container{
        background: linear-gradient(180deg, #1ECFE1,#008DFF);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
    }
    #formularz{
        background-color: white;
        align-self: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 25%;
        border-radius: 60px;
    }
    #lewa-gora{
        margin-top: 5em;
        margin-left: 17%;
        
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    #lewa-dol{
        
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 12%;
        margin-top: 10px;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    img{
        max-width: 50px;
        max-height: 50px;
    }
    
}
@media screen and (min-width: 451px) and (max-width: 799px){
    #container2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70vw;
        align-items: center;
        margin-bottom: 15em;
    }
    #container{
        background: linear-gradient(180deg, #1ECFE1,#008DFF);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        align-items: center;
    }
    #formularz{
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 60px;
        margin-left: 25%;
        height: 200%;
    }
    #lewa-gora{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    #lewa-dol{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 1%;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    img{
        max-width: 100px;
        max-height: 100px;
    }
    
}
@media screen and (min-width: 800px) and (max-width: 801px){
    #container2{
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;
        align-items: center;
        margin-bottom: 5em;
    }
    #container{
        background: linear-gradient(180deg, #1ECFE1,#008DFF);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        align-items: center;
    }
    #formularz{
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 60px;
        height: 200%;
        margin-left: 13%;
        align-self: flex-start;
    }
    #lewa-gora{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    #lewa-dol{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        align-self: flex-start;
        margin-left: 30%;
    }
    img{
        max-width: 100px;
        max-height: 100px;
    }
    
}

/*Jebać Apple zróbcie kurwa urządzenia w normalnych rozmiarach*/
@media screen and (max-width: 385px){
    #container2{
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;
        align-items: center;
        margin-bottom: 15em;
    }
    #container{
        background: linear-gradient(180deg, #1ECFE1,#008DFF);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
    }
    #formularz{
        background-color: white;
        display: flex;
        align-self:center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 7%;
        border-radius: 60px;
    }
    #lewa-gora{
        margin-top: 5em;
        margin-left: unset;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    #lewa-dol{
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 6%;
        margin-top: 10px;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    img{
        max-width: 50px;
        max-height: 50px;
    }
}
@media screen and (max-width: 281px){
    #container2{
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;
        align-items: center;
        margin-bottom: 15em;
    }
    #container{
        background: linear-gradient(180deg, #1ECFE1,#008DFF);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
    }
    #formularz{
        background-color: white;
        display: flex;
        width: 1em;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 25%;
        border-radius: 60px;
    }
    #lewa-gora{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    #lewa-dol{
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 10px;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    img{
        max-width: 50px;
        max-height: 50px;
    }
}